<div class="app-card gradient" data-id="{app.name}">
  <div class="left-side">
    <div class="screenshot" style="top: 0px; "><img src="https://burrow.singly.com/registry/{app.name}/screenshot.png"></div>
  </div>
  <div class="app-info">
    <p class="title">{app.repository.title}</p>
    <p class="author"><a class="orange iframeLink" href="#" data-id="AppGallery-Author?author={app.author.name}">by {app.author.name}</a></p>
    <p class="uses">
     {?app.repository.uses.services}<span>This app uses:</span>
        <div class="provider-icons">
        {#app.repository.uses.services}
        <a class="iframeLink" href="#" data-id="AppGallery-Filter?services={.}">
         <img src="img/icons/24px/{.}.png" alt="{.}" title="{.}" /></a>
        {/app.repository.uses.services}
        </div>
      {/app.repository.uses.services}
    </p>
  </div>
</div>
