<div class="app-header"></div>

<span>
  <div class="full-app-details gradient">
    <div class="screenshot-container">
      <img src="https://burrow.singly.com/registry/{app.name}/screenshot.png">
    </div>
    <div class="full-app-info">
      <p class="title">{app.repository.title}</p>

      <p class="author"><a class="orange iframeLink" href="#" data-id="AppGallery-Author?author={app.author.name}">by {app.author.name}</a></p>

      <div class="description">{app.description}</div>

      {?app.actions}
      <div class='action-buttons'>
       {?app.actions}
       {?app.actions.add}
        <input type='button' id='{app.repository.handle}' class='install action-button' value='+ADD TO ACCOUNT' />
       {:else}
        <input type='button' disabled='disabled' class='action-button' value='+ADDED TO ACCOUNT' />
       {/app.actions.add}
       {/app.actions}
      </div>
      {/app.actions}

      {^app.actions}
        <div id="access-form">
          <span>
            <h3>Get access to this app!</h3>
            <form class='signup-form' action="signup_for_beta" method="get" accept-charset="utf-8">
              <div class='signup-errors'></div>
              <input tabindex='40' type='text' name='email' value='' placeholder='Email' />{~n}
              <input tabindex='42' type='text' name='github' value='' placeholder='GitHub' />{~n}
              <input tabindex='41' type='checkbox' name='developer' id='developer' />
              <label for='developer'>I'm a developer!</label>{~n}
              <input tabindex='43' type='submit' value='&nbsp;'>
            </form>
          </span>
        </div>
      {/app.actions}
    </div>
  </div>
</span>
